In [5]:
import pandas as pd
df = pd.read_excel('Insurance_Integrated_Project/insurance_claims_raw.xlsx')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 40 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          998 non-null    float64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   datetime64[ns]
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            998 non-null    float64
 7   policy_annual_premium        997 non-null    float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      999 non-null    object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              998 non-null    object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                998 non-null    float64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   datetime64[ns]
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        998 non-null    object
 22  incident_state               998 non-null    object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           996 non-null    float64
 32  injury_claim                 999 non-null    float64
 33  property_claim               999 non-null    float64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
 39  _c39                         0 non-null      float64
dtypes: datetime64[ns](2), float64(8), int64(11), object(19)
memory usage: 312.6+ KB

In [7]:
df = df.drop('_c39', axis=1)

In [8]:
df = df[df['policy_number'] != 699044]

In [9]:
df.describe()

,months_as_customer,age,policy_number,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,capital-gains,capital-loss,incident_hour_of_the_day,number_of_vehicles_involved,bodily_injuries,witnesses,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_year
count,999.000000,997.000000,999.000000,997.000000,996.000000,9.990000e+02,999.000000,998.000000,999.000000,999.000000,999.000000,999.000000,999.000000,995.000000,998.000000,998.000000,999.000000,999.000000
mean,204.150150,38.966901,546085.689690,1133.400201,1256.991155,1.102102e+06,501101.607608,25176.452906,-26820.520521,11.639640,1.837838,0.991992,1.485485,52748.643216,7425.861723,7395.020040,37922.872873,2005.102102
std,115.003509,9.139147,257146.228457,610.942531,244.387564,2.298293e+06,71648.570711,27877.379027,28105.366259,6.953486,1.018727,0.820538,1.110859,26411.938125,4877.155580,4828.122705,18894.734325,6.018807
min,0.000000,19.000000,100804.000000,500.000000,433.330000,-1.000000e+06,430104.000000,0.000000,-111100.000000,0.000000,1.000000,0.000000,0.000000,100.000000,0.000000,0.000000,70.000000,1995.000000
25%,116.000000,32.000000,335913.500000,500.000000,1090.247500,0.000000e+00,448373.000000,0.000000,-51500.000000,6.000000,1.000000,0.000000,1.000000,41775.000000,4285.000000,4435.000000,30275.000000,2000.000000
50%,200.000000,38.000000,532330.000000,1000.000000,1257.595000,0.000000e+00,466393.000000,0.000000,-24100.000000,12.000000,1.000000,1.000000,1.000000,57900.000000,6775.000000,6745.000000,42080.000000,2005.000000
75%,276.500000,44.000000,759459.500000,2000.000000,1415.825000,0.000000e+00,603221.500000,51075.000000,0.000000,17.000000,3.000000,2.000000,2.000000,70555.000000,11295.000000,10875.000000,50845.000000,2010.000000
max,479.000000,64.000000,999435.000000,2000.000000,2047.590000,1.000000e+07,620962.000000,100500.000000,0.000000,23.000000,4.000000,2.000000,3.000000,114920.000000,21450.000000,23670.000000,79560.000000,2015.000000

In [10]:
average_age = df['age'].mean()
df['age'] =df['age'].fillna(average_age)

In [23]:
average_deductable = df['policy_deductable'].mean()
df['policy_deductable'] =df['policy_deductable'].fillna(average_deductable)

In [24]:
average_annual_premium = df['policy_annual_premium'].mean()
df['policy_annual_premium'] =df['policy_annual_premium'].fillna(average_annual_premium)

In [13]:
unique_values = df['insured_education_level'].unique()
print(unique_values)

['MD' 'PhD' 'Associate' nan 'Masters' 'High School' 'College' 'JD']

In [14]:
df['insured_education_level'] = df['insured_education_level'].fillna('College')

In [15]:
unique_values = df['insured_hobbies'].unique()
print(unique_values)

['sleeping' 'reading' 'board-games' nan 'bungie-jumping' 'base-jumping'
 'golf' 'camping' 'dancing' 'skydiving' 'movies' 'hiking' 'yachting'
 'paintball' 'chess' 'kayaking' 'basketball' 'video-games' 'polo'
 'cross-fit' 'exercise']

In [16]:
df['insured_hobbies'] = df['insured_hobbies'].fillna('unknown')

In [25]:
average_capital = df['capital-gains'].mean()
df['capital-gains'] =df['capital-gains'].fillna(average_capital)

In [18]:
df['authorities_contacted'] = df['authorities_contacted'].fillna('unknown')

In [19]:
df['incident_state'] = df['incident_state'].fillna('unknown')

In [26]:
average_amount = df['total_claim_amount'].mean()
df['total_claim_amount'] =df['total_claim_amount'].fillna(average_amount)

In [27]:
average_injury_claim = df['injury_claim'].mean()
df['injury_claim'] =df['injury_claim'].fillna(average_injury_claim)

In [28]:
average_property_claim = df['property_claim'].mean()
df['property_claim'] =df['property_claim'].fillna(average_property_claim)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 999 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           999 non-null    int64
 1   age                          999 non-null    float64
 2   policy_number                999 non-null    int64
 3   policy_bind_date             999 non-null    datetime64[ns]
 4   policy_state                 999 non-null    object
 5   policy_csl                   999 non-null    object
 6   policy_deductable            999 non-null    float64
 7   policy_annual_premium        999 non-null    float64
 8   umbrella_limit               999 non-null    int64
 9   insured_zip                  999 non-null    int64
 10  insured_sex                  999 non-null    object
 11  insured_education_level      999 non-null    object
 12  insured_occupation           999 non-null    object
 13  insured_hobbies              999 non-null    object
 14  insured_relationship         999 non-null    object
 15  capital-gains                999 non-null    float64
 16  capital-loss                 999 non-null    int64
 17  incident_date                999 non-null    datetime64[ns]
 18  incident_type                999 non-null    object
 19  collision_type               999 non-null    object
 20  incident_severity            999 non-null    object
 21  authorities_contacted        999 non-null    object
 22  incident_state               999 non-null    object
 23  incident_city                999 non-null    object
 24  incident_location            999 non-null    object
 25  incident_hour_of_the_day     999 non-null    int64
 26  number_of_vehicles_involved  999 non-null    int64
 27  property_damage              999 non-null    object
 28  bodily_injuries              999 non-null    int64
 29  witnesses                    999 non-null    int64
 30  police_report_available      999 non-null    object
 31  total_claim_amount           999 non-null    float64
 32  injury_claim                 999 non-null    float64
 33  property_claim               999 non-null    float64
 34  vehicle_claim                999 non-null    int64
 35  auto_make                    999 non-null    object
 36  auto_model                   999 non-null    object
 37  auto_year                    999 non-null    int64
 38  fraud_reported               999 non-null    object
dtypes: datetime64[ns](2), float64(7), int64(11), object(19)
memory usage: 312.2+ KB